<!DOCTYPE html>
<html lang="en">  
    <head>    
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	   <link rel = "stylesheet" type = "text/css" href = "static/ourstyle.css">
        <title>Attractions</title>
    </head>
	<body>
		<div id="wrapper">
			<div id="navbar">				
				<table>
                <tbody>              
                    <tr>
                        <td class="menulineright">                 
                            <p class="topmenu"><a href="/">Home</a></p>                  
                        </td>                        
                        <td class="menulineright">                 
                            <p class="topmenu"><a href="review">Reviews</a></p>                  
                        </td>
                        <td class="menulineright">                 
                            <p class="topmenu"><a href="renting">Booking</a></p>                  
                        </td>                        
                    </tr>              
                </tbody>
            </table>            
			</div>
			<br class="floatClear"> 
		</div>
        <div class="center">
            <h1>Local Attractions: </h1>
		</div>
		<!--This is another gallery showing the local attractions -->
		<div class="gallery center">
			<h3>Gallery</h3>
			<div class="thumbnails">
                <img onmouseover="preview.src=img1.src" id="img1" src="static/images/att1.jpg" alt="" />
                <img onmouseover="preview.src=img2.src" id="img2" src="static/images/att2.jpg" alt="" />
                <img onmouseover="preview.src=img3.src" id="img3" src="static/images/att3.jpg" alt="" />
                <img onmouseover="preview.src=img4.src" id="img4" src="static/images/att4.jpg" alt="" />
                <img onmouseover="preview.src=img5.src" id="img5" src="static/images/att5.jpg" alt="" />
			</div>            
			<div class="preview center">
				<img id="preview" src="static/images/att1.jpg" alt="" />
			</div>
        </div> 

		<div id = "att1" class="center">
            <h2>The Broads National Park</h2>
            <p>"Discover dramatic landscapes, raw natural beauty and a rare quality of light. 
                Where big, bright skies meet endless horizons and dreamlike landscapes. 
                A place where time stands still. Real peace, open space – it’s a place unlike anywhere else."</p>
            <a href = "http://www.visitthebroads.co.uk/"> Link to Website </a><br>
        </div>
        
        <div id = "att2" class="center">
            <h2>Bewilderwood</h2>
            <p>"A huge, award winning forest of family fun and outdoor adventure. Treehouses, zip wires, jungle bridges,
               Crocklebogs, Twiggles and Boggles, storytelling, boat trips, marsh walks and really yummy food!"</p>
            <a href = "https://www.bewilderwood.co.uk/"> Link to Website </a><br>
        </div>
        
        <div id = "att3" class="center">
            <h2>Wroxham Barns</h2>
            <p>"Come and see our talented craftspeople and chat to them while they work, or browse our shops which offer everything 
                from unique gifts and stylish clothes to fun toys and delicious foods, before taking a break for refreshment in our
                Restaurant or Farmyard Cafe serving wholesome dishes and popular afternoon teas."</p>
            <a href = "https://www.wroxhambarns.co.uk/"> Link to Website </a><br>
        </div>
        
        <div id = "att4" class="center">
            <h2>Broads Tours River Trips</h2>
            <p>"Choose a Broads Tours river trip, sit back and do it in style with entertaining live commentary, light refreshments
                and licensed bar. Or pack a picnic, hire one of our day boats and enjoy the freedom of doing your own thing. Either way,
                we are sure it will leave you wanting to do it all over again!"</p>
            <a href = "https://www.broadstours.co.uk/"> Link to Website </a><br>
        </div>
        
        <div id = "att5" class="center">
            <h2>Broadland Cycle Hire</h2>
            <p>"Broadland Cycle Hire has been providing cycle hire services around the Broads for over 20 years and we have extensive experience
                to help you enjoy the wonderful scenery of the Broads National Park – Britain’s Magical Waterland"</p>
            <a href = "http://www.broadlandcyclehire.co.uk/"> Link to Website </a><br>
        </div>
	</body>
</html>